footer{
    width: 100%;
    height: 200px;
    background-image: url("../../assets/images/footer_pattern.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 200px;
}