<section>
    <!-- Heading -->
    <div class="section-wrapper">
        <h1 class="section-title">Developers</h1>
        <p class="section-description">We the developers at ormanel take priority in seeing our clients happy and so we
            make sure every project we take is done profesionally. We incoporate the best software development practices
            out there and also use the best software methodoly that will allow our clients to be involved in the
            development process thereby improving customer satisfaction</p>
    </div>
    <!-- Staff Profile -->
    <ormanel-staff-profile></ormanel-staff-profile>
</section>