<section>
    <div class="bg-bottom-bar py-14">
        <div class="container">
            <h1 class="text-center mb-10 font-semibold text-4xl text-white">Stay up to date with Ormanel</h1>
            <div class="flex gap-2 justify-center">
                <input type="text" placeholder="Enter your email address" class="px-2 w-3/6 rounded">
                <button type="button" class="btn bg-footer-button-color text-white font-medium">contact us</button>
            </div>
        </div>
    </div>
    <footer class="bg-footer-color py-5">
        <div class="container flex items-center justify-between">
            <!-- Get in touch -->
            <div class="flex flex-1 flex-col">
                <h2 class="text-slate-400">Get in Touch</h2>
                <h2 class="text-white">service@ormanel.com</h2>
            </div>
            <!-- cennect -->
            <div class="flex flex-1 flex-col">
                <h2 class="text-slate-400">connect</h2>
                <h2 class="text-white">Instagram</h2>
                <h2 class="text-white">YouTube</h2>
                <h2 class="text-white">Facebook</h2>
                <h2 class="text-white">Twitter</h2>
                <!-- <div class="flex flex-row">
                    <i class="fab fa-instagram" ></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                </div> -->
            </div>
            <!-- Designed By -->
            <div class="flex flex-1 flex-col">
                <h2 class="text-slate-400">Designed by Ormanel Team</h2>
                <h2 class="text-white">&copy;2022 Data Privacy</h2>
            </div>
        </div>
    </footer>
</section>
