<!-- <ormanel-header></ormanel-header>
<section class="header-img">
</section>
<div class="title-wrapper">
    <h1 class="body-title font-bold"><span>Services</span></h1>
</div>
<ormanel-services-card-details></ormanel-services-card-details>
<div class="title-wrapper">
    <h1 class="body-title font-bold"><span>Our Staff</span></h1>
</div>
<ormanel-staff-card-details></ormanel-staff-card-details>
<div class="title-wrapper">
    <h1 class="body-title font-bold"><span>Contact Us</span></h1>
</div>
<div class="contact-us-wrapper">
    <p>service@ormanel.com</p>
    <div class="social">
        <img src="../assets/images/mail.png" alt="Mail">
        <img src="../assets/images/twitter.png" alt="Twitter">
        <img src="../assets/images/youtube.png" alt="YouTube">
    </div>
</div>
<ormanel-footer></ormanel-footer> -->

<!-- New Website Design -->
<ormanel-page-header></ormanel-page-header>
<ormanel-services-session></ormanel-services-session>
<ormanel-staff-section></ormanel-staff-section>
<ormanel-page-footer></ormanel-page-footer>